html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEFEF6;
  display: flex;
  flex: 1;
}

.root {
  margin-top: 5%;
  width: 90%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.news {
  padding: 0;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsTitle {
  font-size: 1.125em;
}

.newsTitle,
.newsDesc {
  display: block;
}
