.root {
  margin-bottom: 2%;
}

.container {
  padding-top: 1%;
  padding-left: 3%;
}

.icon {
  width: 10px;
  height: 5px;
  vertical-align: middle;
  margin-left: 1%;
  display: inline-block;
}

.header {
  border: none;
  border-bottom: 1px solid #979797;
  cursor: pointer;
  padding-bottom: 1px;
  width: 100%;
  text-align: left;
  background: transparent;
}

.header:hover .headerTitle {
  font-weight: 700;
}

.header:focus {
  outline: none;
}

.header:hover {
  border-width: 2px;
  padding-bottom: 0px;
}

.headerTitle {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}

.inputContainer {
  margin-bottom: 30px;
  margin-top: 10px;
}

.inputTitle {
  font-family: 'Playfair Display', cursive;
  font-size: 24px;
  color: #616161;
  font-style: italic;
}

.inputs {
  margin-left: 5px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #616161;
}

div.input {
  padding-left: 20px;
}

.input textarea {
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  border-radius: 0;
  color: #000;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #979797;
  font-family: 'Playfair Display', serif;
  background: transparent;
  padding: 5px;
  margin-top: 10px;
}

.input textarea:focus {
  border-width: 2px;
  padding-bottom: 5px;
}
