html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEFEF6;
  display: flex;
  flex: 1;
}

.root {
  width: 90%;
  margin-top: 10%;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  text-align: center;
}

.lead {
  font-family: 'Lobster', cursive;
  font-size: 48px;
  color: #4A4A4A;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  outline: 0;
  border-radius: 0;
  color: #616161;
  font-size: 18px;
  line-height: 1.3333333;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border: none;
  border-bottom: 1px solid #979797;
  font-family: 'Playfair Display', serif;
  background: transparent;
}

.input:focus {
  border-width: 2px;
  padding-bottom: 0;
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 16px;
  width: 100%;
  outline: 0;
  color: #4A4A4A;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.3333333;
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  font-size: 20px;
}

.button:focus, .button:hover {
  color: #979797;
}
